{{- if .Values.global.rbac.create }}
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: "redis-operator"
  namespace: {{ .Values.redisOperator.namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: "redis-operator"
subjects:
- kind: ServiceAccount
  name: {{ .Values.redisOperator.serviceAccount.name }}
  namespace: {{ .Values.redisOperator.namespace }}
{{- end }}
