# fullnameOverride: "redis-operator-test"

global:
  rbac:
    create: true

redisOperator:
  enabled: true
  namespace: default
  managerReplicas: 1 # Number of manger pods the Deployment will create
  configFile: "configfiles/operator.conf"
  labels:
    control-plane: "controller-manager"
    redis-operator: "redis-operator"
  serviceAccount:
  #   create: true
    name: "redis-operator-manager"
  imagePullSecrets:
  - name: regcred
  terminationGracePeriodSeconds: 10

  containers:
  - name: manager
    image: redis-operator-docker:local
    imagePullPolicy: IfNotPresent
    resources:
      limits:
        cpu: 1000m
        memory: 1024Mi
      requests:
        cpu: 100m
        memory: 256Mi
    ports:
    - containerPort: 8080
      name: query
    env:
    - name: REDIS_USERNAME
      value: "admin"
    - name: REDISCLI_AUTH
      value: "adminpass"
    - name: CLUSTER_VIEW_FILE
      value: "cluster_data"
    - name: CLUSTER_STATE_FILE
      value: "cluster_state"
    command:
    - "./manager"
    args:
    - "-namespace=default"
    - "-metrics-addr=0.0.0.0:9808"
    - "-enable-leader-election=true"
    volumeMounts:
    - name: operator-configuration
      mountPath: "/usr/local/etc/"
  volumes:
  - name: operator-configuration
    configMap:
      name: redis-operator-config

redisCluster:
  enabled: true
  name: dev-rdc
  namespace: default
  leaderCount: 3
  leaderFollowersCount: 2
  enableDefaultAffinity: true
  podLabelSelector:
    app: redis-cluster-pod
  redisConfigFile: "configfiles/redis.conf"
  redisACLConfigFile: "configfiles/users.acl"

  redisPodSpec:
    imagePullSecrets:
    - name: regcred

    initContainers:
    - name: redis-init-container
      image: redis-init:testing
      imagePullPolicy: IfNotPresent
      securityContext:
        privileged: true
        runAsNonRoot: false
        runAsUser: 0
      volumeMounts:
      - name: host-sys
        mountPath: "/host-sys"
      command:
      - "/bin/sh"
      args:
      - "-c"
      - "install_packages systemd procps && sysctl -w net.core.somaxconn=1024"
      # - "&& echo never > /host-sys/kernel/mm/transparent_hugepage/enabled"
      # - "&& grep -q -F [never] /sys/kernel/mm/transparent_hugepage/enabled"

    containers:
    - name: redis-container
      image: redis:testing
      imagePullPolicy: IfNotPresent
      resources:
        limits:
          cpu: 500m
          memory: 2500Mi
        requests:
          cpu: 50m
          memory: 50Mi
      env:
      - name: PORT
        value: "6379"
      - name: CONF_PATH
        value: "/usr/local/etc/redis/redis.conf"
      ports:
      - containerPort: 6379
      volumeMounts:
      - name: redis-configuration
        mountPath: "/usr/local/etc/redis"
      - name: redis-users
        mountPath: "/usr/local/etc/redis/acl"

    - name: redis-metric-exporter
      image: metrics-exporter:testing
      imagePullPolicy: IfNotPresent
      ports:
      - containerPort: 9121

    volumes:
    - name: redis-configuration
      configMap:
        name: dev-rdc-redisconfig
    - name: redis-users
      configMap:
        name: dev-rdc-users-acl
    - name: host-sys
      hostPath:
        path: "/sys"
